/* .login{
    background-color: red;
} */



.bg-nsobya-red{
    background-color: rgb(247, 48, 48);
}

.bg-nsobya-purple{
    background-color: rgb(159, 88, 230);
}

.bg-nsobya-white{
    background-color: rgb(218, 218, 218);
}
